@model biodata.Models.Family

@using (Html.BeginForm((string)ViewBag.PostBackAction, "Information"))
{
    <div class="col-sm-12">
        <div class="text-right text-danger" style="font-size: 12px;">
            <span class="glyphicon glyphicon-asterisk"></span> Required field
        </div>

        <div class="row">
            <div class="col-sm-3 form-group">
                <label>Relationship with candidate</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.RelationshipText, new SelectList(Model.RelationshipList),
                                new
                                {
                                    id = "relationship",
                                    @class = "form-control",
                                    data_toggle = "tooltip",
                                    title = "Relationship with the person"
                                })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label>Name</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Name, new
                            {
                                type = "text",
                                placeholder = "e.g. - Name",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter Name"
                            })
                    <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>
            <div class="col-sm-3 form-group">
                <label>City</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.City, new
                            {
                                type = "text",
                                placeholder = "e.g. - City",
                                @class = "form-control",
                                title = "Enter your City",
                                data_toggle = "tooltip"
                            })
                    <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>

            <div class="col-sm-3 form-group">
                <label>State</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.State, new
                            {
                                type = "text",
                                placeholder = "e.g. - State",
                                @class = "form-control",
                                title = "Enter State",
                                data_toggle = "tooltip"
                            })
                    <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <label>Designation</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Designation, new
                            {
                                type = "text",
                                placeholder = "e.g. - Designation",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Enter Designation"
                            })
                    <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
                @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>
            <div class="col-sm-4 form-group">
                <label>Company Name</label>
                @Html.TextBoxFor(x => x.CompanyName, new { type = "text", placeholder = "e.g. - CompanyName", @class = "form-control" })
            </div>
            <div class="col-sm-4 form-group">
                <label>Job Location</label>
                @Html.TextBoxFor(x => x.JobLocation, new { type = "text", placeholder = "e.g. - Job Location", @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            @if (string.IsNullOrEmpty(Model.Name))
            {
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-success pull-right">Add New Member</button>
                </div>
            }
            else
            {
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-success">Update</button>
                    @Html.ActionLink("Cancel", "Family", "Information", new { }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
}