@model biodata.Models.EducationFields

@using (Html.BeginForm((string)ViewBag.EducationPostBackAction, "Information"))
{
    <div class="col-sm-12">
        <div class="text-right text-danger" style="font-size: 12px;">
            <span class="glyphicon glyphicon-asterisk"></span> Required field
        </div>

        <div class="row">
            <div class="col-md-3 form-group">
                <label>Qualification</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.EducationQualText, new SelectList(Model.EducationList),"Select Qualification",
                        new
                        {
                            id = "relationship",
                            @class = "form-control",
                            data_toggle = "tooltip",
                            title = "What is the relationship of the contact person to the candidate? (Usually it's the father or a sibling)"
                        })
                    <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
                @Html.ValidationMessageFor(m => m.EducationQualText, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>
            <div class="col-md-3 form-group">
                <label>Degree</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Degree, new
                            {
                                type = "text",
                                placeholder = "e.g. - B.E.",
                                @class = "form-control",
                                title = "Enter Bachelor Degree",
                                data_toggle = "tooltip"
                            })
                    <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                </div>
                @Html.ValidationMessageFor(m => m.Degree, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>

            <div class="col-md-2 form-group">
                <label>College</label>
                @Html.TextBoxFor(x => x.College, new
                            {
                                type = "text",
                                placeholder = "e.g. - VTU",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter College"
                            })
                @Html.ValidationMessageFor(m => m.College, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>

            <div class="col-md-2 form-group">
                <label>University</label>
                @Html.TextBoxFor(x => x.University, new
                            {
                                type = "text",
                                placeholder = "e.g. - VTU",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter College"
                            })
                @Html.ValidationMessageFor(m => m.University, "", new { @class = "text-danger", style = "font-size: 12px;" })
            </div>

            <div class="col-md-2 form-group">
                <label>Year</label>
                @Html.TextBoxFor(x => x.Year, new
                            {
                                type = "text",
                                placeholder = "e.g. - 2011",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter Bachelor Passout Year",
                                id = "BachelorPassoutYear"
                            })
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger", style = "font-size: 12px;" })

            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            @if (string.IsNullOrEmpty(Model.Degree))
            {
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-success pull-right">Add</button>
                </div>
            }
            else
            {
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-success">Update</button>
                    @Html.ActionLink("Cancel", "Education", "Information", new { }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
}
