@using biodata.Models
@model Career

@{
    ViewBag.Title = "Career";
    Layout = "../Shared/_InformationLayout.cshtml";
}

<h3 class="well well-sm">
    Career
    <span class="help-block" style="font-size: 11px;">The work experience of the candidate. This information will be displayed in the career panel of your biodata.</span>
</h3>

<div class="col-sm-12 well well-sm" style="background-color: whitesmoke; padding: 5px; min-width: 400px;">
    @Html.Partial("_ProgressWizard", new ProgressWizard { Step = 4 })
</div>

<div class="col-sm-12 well well-sm">
    <div class="row">

        @using (Html.BeginForm("Career", "Information",FormMethod.Post,new{@id="careerform"}))
        {
            <div class="col-sm-12">
                <div class="text-right text-danger" style="font-size: 12px;">
                    <span class="glyphicon glyphicon-asterisk"></span> Required field
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Do you have work experience?</label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(x => x.YesWorkExperience, true, new { id = "yesWorkExp" }) Yes
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButtonFor(x => x.YesWorkExperience, false, new { id = "noWorkExp" }) No
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Designation</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Designation, new
                            {
                                type = "text",
                                placeholder = "e.g. - Software Engineer",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter designation of your current employee"
                            })
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger", style = "font-size: 12px;" })
                        <small class="help-block" style="font-size: 11px;"><i>Your current designation</i></small>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Company</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Company, new
                            {
                                type = "text",
                                placeholder = "e.g. - Infosys",
                                @class = "form-control",
                                title = "Enter your associated company name",
                                data_toggle = "tooltip"
                            })
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger", style = "font-size: 12px;" })
                        <small class="help-block" style="font-size: 11px;"><i>Your current company</i></small>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Location</label>
                        @Html.TextBoxFor(x => x.Location, new
                            {
                                type = "text",
                                placeholder = "e.g. - Bangalore",
                                @class = "form-control",
                                title = "Enter location name",
                                data_toggle = "tooltip"
                            })
                        @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger", style = "font-size: 12px;" })
                        <small class="help-block" style="font-size: 11px;"><i>Your current work location</i></small>
                    </div>
                    @*<div class="col-sm-2 form-group">
                        <label>Working From</label>
                        @Html.TextBoxFor(x => x.WorkingFrom, new
                        {
                            type = "text",
                            placeholder = "e.g. - 12-05-2015",
                            @class = "form-control",
                            data_toggle = "tooltip",
                            title = "Enter working from date"
                        })
                        @Html.ValidationMessageFor(m => m.WorkingFrom, "", new { @class = "text-danger", style = "font-size: 12px;" })
                    </div>*@
                    
                    <div class="col-sm-3 form-group">
                        <label>Annual Income</label>
                        @Html.DropDownListFor(x => x.AnnualIncomeText, new SelectList(Model.AnnualIncomeList), "Select Annual Income",
                            new
                            {
                                id = "annualincome",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Enter Annual Income"
                            })
                        @Html.ValidationMessageFor(m => m.AnnualIncomeText, "", new { @class = "text-danger", style = "font-size: 12px;" })
                        <small class="help-block" style="font-size: 11px;"><i>Your total annual income</i></small>
                    </div>
                </div>
                @*@Html.ActionLink("Back", "Education", "Information", new { }, new { @class = "btn btn-default pull-left" })*@
                <button type="submit" class="btn btn-primary pull-right">Save & Continue</button>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#WorkingFrom').datetimepicker({
                format: 'D-MMM-YYYY'
            });
            $('#yesWorkExp').change(function () {
                $("input[type=text], #annualincome").prop("disabled", !this.checked);
            });
            $('#noWorkExp').change(function () {
                $("input[type=text], #annualincome").prop("disabled", this.checked);
            });

            $("button[type=submit]").click(function () {
                $(this).data('clicked', true);
            });

            $('#careerform').data('serialize', $('#careerform').serialize()); // On load save form current state

            $(window).bind('beforeunload', function (e) {
                if ($('#careerform').serialize() !== $('#careerform').data('serialize') && !$('button[type=submit]').data('clicked')) return true;
                else e = null; // i.e; if form state change show warning box, else don't show it.
            });
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 10);
            window.onunload = function () { null };
        });
    </script>
}