@using biodata.Models
@model Educations
@{
    ViewBag.Title = "Education";
    Layout = "../Shared/_InformationLayout.cshtml";
}

<h3 class="well well-sm">
    Education
    <span class="help-block" style="font-size: 11px;">Who should people contact when they are interested in this biodata? This information will be displayed in the top right corner of your biodata.</span>
</h3>

<div class="col-sm-12 well well-sm" style="background-color: whitesmoke; padding: 5px;">
    @Html.Partial("_ProgressWizard", new ProgressWizard { Step = 4 })
</div>

@if (Model.EducationFieldses.Count > 0)
{
    <div class="col-sm-12 well well-sm">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Qualification</td>
                            <td>Degree</td>
                            <td>College</td>
                            <td>University</td>
                            <td>Year</td>
                        </tr>
                    </thead>
                    @foreach (var member in Model.EducationFieldses)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.ActionLink("Edit", "EditEducation", "Information", new { id = member.Id }, new { @class = "btn btn-primary btn-xs" })&nbsp;
                                @Html.ActionLink("Delete", "DeleteEducation", "Information", new { id = member.Id }, new { @class = "btn btn-primary btn-xs" })
                            </td>
                            <td>
                                @member.EducationQualText
                            </td>
                            <td>
                                @member.Degree
                            </td>
                            <td>
                                @member.College
                            </td>
                            <td>
                                @member.University
                            </td>
                            <td>
                                @member.Year
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}



<div class="col-sm-12 well well-sm">
    <div class="row">
        @if (Model.Education.EducationList.Count > 0)
        {
            {
                Html.RenderPartial("_AddOrEditEducation", Model.Education);
            }
            <div class="col-sm-12">
                <hr />
            </div>
        }
        <div class="col-sm-12">
            @Html.ActionLink("Back", "Religious", "Information", new { }, new { @class = "btn btn-default pull-left" })
            @Html.ActionLink("Continue", "Career", "Information", new { }, new { @class = "btn btn-primary pull-right" })
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#BachelorPassoutYear , #PgPassoutYear').datetimepicker({
                viewMode: 'years',
                format: "YYYY"
            }).on("dp.show", function () {
                console.log("dtp open");
                $(this).data('DateTimePicker').viewMode('years');
            });
        });
    </script>
}