@using biodata.Models
@model Families

@{
    ViewBag.Title = "Family";
    Layout = "../Shared/_InformationLayout.cshtml";
}

<h3 class="well well-sm">
    Family
    <span class="help-block" style="font-size: 11px;">Who should people contact when they are interested in this biodata? This information will be displayed in the top right corner of your biodata.</span>
</h3>

<div class="col-sm-12 well well-sm" style="background-color: whitesmoke; padding: 5px;">
    @Html.Partial("_ProgressWizard", new ProgressWizard { Step = 6 })
</div>

@if (Model.FamilyList.Count > 0)
{
    <div class="col-sm-12 well well-sm">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Relationship</td>
                            <td>Name</td>
                            <td>City - State</td>
                            <td>Designation</td>
                            <td>Company Name</td>
                            <td>Job Location</td>
                        </tr>
                    </thead>
                    @foreach (var member in Model.FamilyList)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.ActionLink("Edit", "EditFamily", "Information", new { id = member.Id }, new { @class = "btn btn-primary btn-xs" })&nbsp;
                                @Html.ActionLink("Delete", "DeleteFamily", "Information", new { id = member.Id }, new { @class = "btn btn-primary btn-xs" })
                            </td>
                            <td>
                                @member.RelationshipText
                            </td>
                            <td>
                                @member.Name
                            </td>
                            <td>
                                @member.City @(string.IsNullOrEmpty(member.State) ? "" : "-" + member.State)
                            </td>
                            <td>
                                @member.Designation
                            </td>
                            <td>
                                @member.CompanyName
                            </td>
                            <td>
                                @member.JobLocation
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
<div class="col-sm-12 well well-sm">
    <div class="row">

        @if (Model.FamilyList.Count < 10)
        {
            {
                Html.RenderPartial("_AddOrEditFamily", Model.FamilyMember);
            }
            <div class="col-sm-12">
                <hr />
            </div>
        }

        <div class="col-sm-12">
            @Html.ActionLink("Back", "Career", "Information", new { }, new { @class = "btn btn-default pull-left" })
            @Html.ActionLink("Continue", "FamilyValidation", "Information", new { }, new { @class = "btn btn-primary pull-right" })
        </div>

    </div>
</div>