@using biodata.Models
@model Personal

@{
    ViewBag.Title = "Personal";
    Layout = "../Shared/_InformationLayout.cshtml";
}

<h3 class="well well-sm">
    Personal
    <span class="help-block" style="font-size: 11px;">Who should people contact when they are interested in this biodata? This information will be displayed in the top right corner of your biodata.</span>
</h3>

<div class="col-sm-12 well well-sm" style="background-color: whitesmoke; padding: 5px;">
    @Html.Partial("_ProgressWizard", new ProgressWizard { Step = 2 })
</div>

<div class="col-sm-12 well well-sm">
    <div class="row">
        @using (Html.BeginForm("Personal", "Information"))
        {
            <div class="col-sm-12">
                <div class="text-right text-danger" style="font-size: 12px;">
                    <span class="glyphicon glyphicon-asterisk"></span> Required field
                </div>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Name</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Name, new
                            {
                                type = "text",
                                placeholder = "e.g. - Prateek Gangwar",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter name of the person who's resume belong to",
                                maxlength = 25
                            })
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", style = "font-size: 12px;" })
                        <small class="help-block" style="font-size: 11px;"><i>Maximum letters should be less than 20</i></small>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Date of birth</label>
                        <div class="input-group">

                            @Html.TextBoxFor(x => x.DateOfBirth, new
                            {
                                type = "text",
                                placeholder = "e.g. - 16-Aug-1989",
                                @class = "form-control",
                                @data_toggle = "tooltip",
                                title = "Enter date of birth"
                            })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger", style = "font-size: 12px;" })
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Time of birth</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.TimeOfBirth, new
                            {
                                type = "text",
                                placeholder = "e.g. - 01:56 PM",
                                @class = "form-control",
                                title = "Enter time of birth",
                                data_toggle = "tooltip"
                            })
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.TimeOfBirth, "", new { @class = "text-danger", style = "font-size: 12px;" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Birth place</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Birthplace, new
                            {
                                type = "text",
                                placeholder = "e.g. - Bangalore",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Birth place"
                            })
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Birthplace, "", new { @class = "text-danger", style = "font-size: 12px;" })
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Complexion</label>
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.Complexion, new SelectList(Model.ComplexionList),
                                new
                                {
                                    id = "complexion",
                                    @class = "form-control",
                                    data_toggle = "tooltip",
                                    title = "Select complexion"
                                })
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Current City</label>
                        @Html.TextBoxFor(x => x.CurrentCity, new { type = "text", placeholder = "e.g. - Bangalore", @class = "form-control" })
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Height</label>

                        <div class="input-group">
                            @Html.DropDownListFor(x => x.Height, new SelectList(Model.HeightList),
                            new
                            {
                                id = "height",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Select Height"
                            })
                            <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk text-danger"></span></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Marital Status</label>
                        @Html.DropDownListFor(x => x.MaritalStatus, new SelectList(Model.MaritalStatusList), "Select Marital Status",
                            new
                            {
                                id = "maritalstatus",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Select Marital Status"
                            })
                        @Html.ValidationMessageFor(m => m.MaritalStatus, "", new { @class = "text-danger", style = "font-size: 12px;" })
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Diet</label>
                        @Html.DropDownListFor(x => x.Diet, new SelectList(Model.DietList), "Select Diet",
                            new
                            {
                                id = "diet",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Select diet"
                            })
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Drink</label>
                        @Html.DropDownListFor(x => x.Drink, new SelectList(Model.DrinkList), "Select Drink",
                            new
                            {
                                id = "drink",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Select drink"
                            })
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Smoke</label>
                        @Html.DropDownListFor(x => x.Smoke, new SelectList(Model.SmokeList), "Select Smoke",
                            new
                            {
                                id = "smoke",
                                @class = "form-control",
                                data_toggle = "tooltip",
                                title = "Select Smoke"
                            })
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Hobbies</label>
                        @Html.TextBoxFor(x => x.Hobbies, new { type = "text", placeholder = "e.g. - Cooking, Movies", @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Facebook</label>
                        @Html.TextBoxFor(x => x.Facebook, new { type = "text", placeholder = "e.g. - https://www.facebook.com/prateekgng", @class = "form-control" })
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Linkedin</label>
                        @Html.TextBoxFor(x => x.Linkedin, new { type = "text", placeholder = "e.g. - https://www.linkedin/prateek497", @class = "form-control" })
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Instagram</label>
                        @Html.TextBoxFor(x => x.Instagram, new { type = "text", placeholder = "e.g. - https://www.intagram/prateek497", @class = "form-control" })
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Twitter</label>
                        @Html.TextBoxFor(x => x.Twitter, new { type = "text", placeholder = "e.g. - https://www.quora.com/prateek497", @class = "form-control" })
                    </div>
                </div>

                @Html.ActionLink("Back", "Contact", "Information", new { }, new { @class = "btn btn-default pull-left" })

                <button type="submit" class="btn btn-primary pull-right">Save & Continue</button>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#DateOfBirth')
                .datetimepicker({
                    format: 'D-MMM-YYYY'
                });

            $('#TimeOfBirth')
                .datetimepicker({
                    format: 'LT'
                });

            //$('#Facebook').change(function () {
            //    $.ajax({
            //        url: "https://www.facebook.com/prateekgng",
            //        type: "application/javascript",
            //        dataType: "jsonp",
            //        crossDomain: true,
            //        success: function (response) {
            //            alert(response);
            //            this.load(response);
            //        },
            //        error: function (xhr, status) {
            //            alert(xhr);
            //        }
            //    });
            //});
        });
    </script>
}