<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="shortcut icon" type="image/png" href="~/images/sample.PNG" />

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-fileinput/css/fileinput.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Scripts/fileinput.js"></script>

    @if (Request.IsAuthenticated)
    {
        <meta http-equiv="REFRESH" content="1800; URL=/Home/SignOff">
    }
    
    <style>
        @@media screen and (max-width: 768px) {
            body {
                padding-top: 125px !important;
            }
        }

        @@media screen and (max-width: 450px) {

            body {
                padding-top: 150px !important;
            }
        }
    </style>

</head>
<body style="padding-bottom: 70px;  padding-top: 70px">
    <div class="navbar navbar-default navbar-fixed-top" style="background-color: #374757 !important">
        <div class="container">
            <div class="navbar-header" style="color: White">
                <a class="navbar-brand" href="@Url.Action("Dashboard", "Home")" style="padding-top: 25px; color: White">
                    <strong style="font-family: 'Sacramento', Arial, serif; font-size: 40px;">CreateBiodata</strong>
                </a>
            </div>

            @if (Request.IsAuthenticated)
            {
                <p class="navbar-text navbar-right" style="color: white">
                    Signed in as @Html.Encode(User.Identity.Name)
                    | @Html.ActionLink("Sign out", "SignOff", "Home", new { }, new { @class = "navbar-link; ", style = "color: White" })
                </p>
            }

        </div>
    </div>

    <div class="container">
        <div class="row">
            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="alert alert-danger" role="alert">
                    <a class="close" data-dismiss="alert">×</a>
                    @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                    {
                        <p>@modelError.ErrorMessage</p>
                    }
                </div>
            }

            @RenderBody()


            <hr />

            <footer role="contentinfo">
                <div class="container">
                    <div class="row copyright">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">&copy; @DateTime.Now.Year CreateBiodata. All Rights Reserved.</small>
                            </p>
                            @*<p>
                                    <ul class="fh5co-social-icons">
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    </ul>
                                </p>*@
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            //Tool tip background color chnage to this -#333333
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", required: false)
</body>
</html>