@model biodata.Models.PdfGeneratorModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Basic form</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@

</head>
<body style="font-family: Verdana; margin: 0 !important; padding: 0 !important">
    @*Pdf size-  595 Pixels(width)  *	842 Pixels(hieght)*@
    <div class="container" style="border: 2px solid #FAAA1F">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @* Header *@
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="height: 209px; background-color: #FAAA1F">
                                @*F0F0F0*@
                                <div class="row">
                                    <table style="width: 100%; height: 100%">
                                        <tr>
                                            <td style="width: 250px; height: 200px;">
                                                <div style="width: 100%; height: 100%; padding-top: 10px; padding-left: 40px">
                                                    <div style="height: 150px; width: 150px;" class="">
                                                        <img class="img-rounded" style="border: 1px solid #FAAA1F; background-color: #F2F2F2; padding: 0px;"
                                                             alt="Prafile Picture" src="data:image;base64,@Convert.ToBase64String(Model.ProfilePicture.PicBytes)" width="150" height="150" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="">
                                                <div style="width: 100%; height: 100%; padding-left: 50px; padding-top: 20px;">
                                                    <h1 class="h1" style="color: #006699">@Model.PersonalData.Name</h1>
                                                    <h5 style="color: #6F7174;"><span class="glyphicon glyphicon-envelope" style="top: 4px;"></span> @Model.ContactData.Email<i>(@Model.ContactData.RelationshipText)</i></h5>
                                                    <h5 class="h5" style="color: #6F7174;"><span class="glyphicon glyphicon-earphone" style="top: 4px;"></span> @Model.ContactData.Phone <i>(@Model.ContactData.RelationshipText)</i></h5>
                                                </div>
                                            </td>

                                            <td style="width: 300px;">
                                                <div style="width: 100%; height: 100%; padding-left: 10px; padding-top: 35px;">
                                                    <div class="text-center">
                                                        @if (!string.IsNullOrEmpty(Model.PersonalData.Facebook))
                                                        {
                                                            <a href=@Model.PersonalData.Facebook style="text-decoration: none">
                                                                <i class="fa fa-facebook-official" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                            </a>
                                                        }

                                                        @if (!string.IsNullOrEmpty(Model.PersonalData.Linkedin))
                                                        {
                                                            <a href=@Model.PersonalData.Linkedin style="text-decoration: none">
                                                                <i class="fa fa-linkedin" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                            </a>
                                                        }

                                                        @if (!string.IsNullOrEmpty(Model.PersonalData.Instagram))
                                                        {
                                                            <a href=@Model.PersonalData.Instagram style="text-decoration: none">
                                                                <i class="fa fa-instagram" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                            </a>
                                                        }

                                                        @if (!string.IsNullOrEmpty(Model.PersonalData.Twitter))
                                                        {
                                                            <a href=@Model.PersonalData.Twitter style="text-decoration: none">
                                                                <i class="fa fa-twitter" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                            </a>
                                                        }

                                                        @if (!string.IsNullOrEmpty(Model.PersonalData.Quora))
                                                        {
                                                            <a href=@Model.PersonalData.Quora style="text-decoration: none">
                                                                <i class="" style="font-size: 32px; color: #006699; position: relative; top: -2px; left: -5px; font-style: normal">Q</i>
                                                            </a>
                                                        }

                                                    </div>
                                                    <h5 class="h5 text-center" style="color: #6F7174; line-height: 140%"><span class="glyphicon glyphicon-home" style="top: 1px;"></span>&nbsp;@Model.ContactData.Name, @Model.ContactData.City, @Model.ContactData.State <i>(@Model.ContactData.RelationshipText)</i></h5>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Body *@
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="height: 1150px; background-color: #F0F0F0">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">PERSONAL INFORMATAION</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BORN
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> @Model.PersonalData.DateOfBirthDb.ToString("dd MMM, yyyy")</span>
                                                            <span style="font-size: 10px; color: #6F7174"> @Model.PersonalData.DateOfTimeDb.ToString("hh:mm tt")</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BIRTHPLACE
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Bareillyjflkdjfkdjfkdsds</span>
                                                            <span style="font-size: 10px; color: #6F7174"> U.P.</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">CURRENT CITY</div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> @Model.PersonalData.CurrentCity</span>@*FF0000*@
                                                            <span style="font-size: 10px; color: #6F7174"> @Model.PersonalData.CurrentCity</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">HIEGHT</div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> @Model.PersonalData.Height</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%;">
                                                        <div style="color: #6F7174; font-size: 10px;">
                                                            COMPLEXION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> @Model.PersonalData.Complexion</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            @if (!string.IsNullOrEmpty(Model.PersonalData.MaritalStatus) || !string.IsNullOrEmpty(Model.PersonalData.Diet)
                                                || !string.IsNullOrEmpty(Model.PersonalData.Drink) || !string.IsNullOrEmpty(Model.PersonalData.Smoke)
                                                || !string.IsNullOrEmpty(Model.PersonalData.Hobbies))
                                            {
                                                <tr>
                                                    @if (!string.IsNullOrEmpty(Model.PersonalData.MaritalStatus))
                                                    {
                                                        <td style="padding-top: 10px;">
                                                            <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                                <div style="color: #6F7174; font-size: 10px;">
                                                                    MARITAL STATUS
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @Model.PersonalData.MaritalStatus</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.PersonalData.Diet))
                                                    {
                                                        <td style="padding-right: 5px; padding-left: 5px; padding-top: 10px;">
                                                            <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    DIET
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @Model.PersonalData.Diet</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.PersonalData.Drink))
                                                    {
                                                        <td style="padding-right: 5px; padding-left: 5px; padding-top: 10px;">
                                                            <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    DRINK
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @Model.PersonalData.Drink</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.PersonalData.Smoke))
                                                    {
                                                        <td style="padding-right: 5px; padding-left: 5px; padding-top: 10px;">
                                                            <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    SMOKE
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @Model.PersonalData.Smoke</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }

                                                    @if (!string.IsNullOrEmpty(Model.PersonalData.Hobbies))
                                                    {
                                                        <td style="padding-left: 5px; padding-top: 10px;">
                                                            <div style="width: 100%; height: 100%;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    HOBBIES
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @Model.PersonalData.Hobbies</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </table>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">CULTURAL BACKGROUND</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            RELIGION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> @Model.ReligiousData.Religion</span>
                                                        </div>
                                                    </div>
                                                </td>

                                                @if (!string.IsNullOrEmpty(Model.ReligiousData.Caste))
                                                {
                                                    <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                        <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                            <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                CASTE
                                                            </div>
                                                            <div>
                                                                <span style="font-size: 18px; color: #006699"> @Model.ReligiousData.Caste</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }

                                                @if (!string.IsNullOrEmpty(Model.ReligiousData.Gotra))
                                                {
                                                    <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                        <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                            <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                GOTRA
                                                            </div>
                                                            <div>
                                                                <span style="font-size: 18px; color: #006699"> @Model.ReligiousData.Gotra</span>@*3C7DC4*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                }

                                                @if (!string.IsNullOrEmpty(Model.ReligiousData.Zodiac))
                                                {
                                                    <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                        <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                            <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                ZODIAC
                                                            </div>
                                                            <div>
                                                                <span style="font-size: 18px; color: #006699"> @Model.ReligiousData.Zodiac</span>@*5A8F29*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                }

                                                @if (!string.IsNullOrEmpty(Model.ReligiousData.MotherTongue))
                                                {
                                                    <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                        <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                            <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                MOTHER TONGUE
                                                            </div>
                                                            <div>
                                                                <span style="font-size: 18px; color: #006699"> @Model.ReligiousData.MotherTongue</span>@*5A8F29*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                }

                                                @if (!string.IsNullOrEmpty(Model.ReligiousData.Languages))
                                                {
                                                    <td style="padding-left: 5px; padding-top: 2px">
                                                        <div style="width: 100%; height: 100%;">
                                                            <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                LANGUAGES
                                                            </div>
                                                            <div>
                                                                <span style="font-size: 18px; color: #006699;">@Model.ReligiousData.Languages</span>@*52ADDA*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">EDUCATION</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                @foreach (var education in Model.EducationData)
                                                {
                                                    <td style="padding-top: 2px;">
                                                        <div style="width: 100%; height: 100%;">
                                                            <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                @education.EducationQualification
                                                            </div>
                                                            <div>
                                                                <span style="font-size: 18px; color: #006699;">@education.Degree @education.Year</span>
                                                                <span style="font-size: 10px; color: #6F7174"> @education.College, @education.University</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        </table>
                                    </div>

                                    @if (Model.CareerData.YesWorkExperience)
                                    {
                                        <div class="col-md-12" style="margin-top: 10px;">
                                            <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                                <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">WORK EXPERIENCE</h5>
                                            </div>
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="padding-right: 10px">
                                                        <div style="width: 100%; height: 100%;">
                                                            <h6 style="color: #6F7174; font-size: 10px;">
                                                                <span style="font-size: 18px; color: #006699">@Model.CareerData.Designation</span>
                                                                @if (!string.IsNullOrEmpty(Model.CareerData.Company))
                                                                {
                                                                    <span style="font-size: 18px; color: #006699"> in @Model.CareerData.Company</span>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.CareerData.Location))
                                                                {
                                                                    <span style="font-size: 18px; color: #006699"> ,@Model.CareerData.Location</span>  @*, FROM @Model.CareerData.WorkingFrom+ YEARS*@
                                                                }
                                                            </h6>
                                                        </div>
                                                    </td>
                                                    @if (!string.IsNullOrEmpty(Model.CareerData.AnnualIncomeText))
                                                    {
                                                        <td style="padding-right: 10px">
                                                            <div style="width: 100%; height: 100%;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    ANNUAL INCOME
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699;">@Model.CareerData.AnnualIncomeText</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    }
                                                </tr>
                                            </table>
                                        </div>
                                    }

                                    @if (Model.FamilyData.Count > 0)
                                    {
                                        <div class="col-md-12" style="margin-top: 10px;">
                                            <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                                <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">FAMILY</h5>
                                            </div>
                                            <table style="width: 100%;">
                                                @foreach (var family in Model.FamilyData)
                                                {
                                                    <tr>
                                                        <td style="padding-right: 10px; padding-top: 2px;">
                                                            <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    @family.RelationshipText
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @family.Name</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="padding-right: 10px; padding-left: 10px; padding-top: 2px;">
                                                            <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                                <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                                    CITY
                                                                </div>
                                                                <div>
                                                                    <span style="font-size: 18px; color: #006699"> @family.City</span>
                                                                    <span style="font-size: 10px; color: #6F7174;"> @family.State</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        @if (!string.IsNullOrEmpty(family.Designation) || !string.IsNullOrEmpty(family.CompanyName) || !string.IsNullOrEmpty(family.City))
                                                        {
                                                            <td style="padding-right: 10px; padding-left: 10px; padding-top: 2px;">
                                                                <div style="width: 100%; height: 100%;">
                                                                    <div style="color: #6F7174; font-size: 10px;">
                                                                        OCCUPATION
                                                                    </div>
                                                                    <div>
                                                                        <span style="font-size: 18px; color: #006699"> @family.Designation</span>
                                                                        @if (!string.IsNullOrEmpty(family.CompanyName))
                                                                        {
                                                                            <span style="font-size: 18px; color: #006699;"> in @family.CompanyName</span>
                                                                        }
                                                                        <span style="font-size: 10px; color: #6F7174;"> @family.City</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Footer *@
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="height: 40px; background-color: #FAAA1F">
                                <div class="row">
                                    <div class="text-center" style="padding-top: 8px;">
                                        <a class="text-center" href="https://www.createbiodata.com" style="font-size: 12px;">Designed and maintained by Prateek Gangwar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Next Page *@
    <div class="container" style="border: 2px solid #FAAA1F">
        <div class="row">
            <div class="col-md-12" style="height: 1397px; background-color: #F0F0F0;">
                <div class="row">
                    @*<table>
                        <tr>*@
                            @foreach (var pic in Model.PictureListData)
                            {
                                @*<td>*@
                                    <div style="margin: 30px; float: left">
                                        <div style="height: 400px; width: 400px; ">
                                            @*<div style="padding: 10px;">*@
                                            <img class="img-rounded" style="border: 2px solid #FAAA1F; background-color: #F2F2F2; padding: 0px;"
                                                 alt="Profile Picture" src="data:image;base64,@Convert.ToBase64String(pic.PicBytes)" width="400" height="400" />
                                            @*</div>*@
                                        </div>
                                    </div>
                                @*</td>*@
                            }
                        @*</tr>
                    </table>*@
                </div>
            </div>
        </div>
    </div>
    @*@using (Html.BeginForm())
        {
            <input type="submit" value="submit" class="btn btn-sm btn-danger" />
        }*@
</body>
</html>