@model biodata.Models.Login

@* Ref- http://bootsnipp.com/snippets/33ZZD *@

<div class="modal fade" id="myModal" style="font-family: sans-serif" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" style="font-family: sans-serif" id="myModalLabel">
                    Sign In/Sign Up
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding-right: 30px;">
                        @*border-right: 1px dotted #C2C2C2;*@
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                            <li><a href="#signup" data-toggle="tab">Sign Up</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="signin" style="padding: 10px;">

                                @using (Html.BeginForm("SignIn", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(x => x.SignIn.Email, new { type = "email", @class = "form-control", id = "email", placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.SignIn.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(x => x.SignIn.Password, new { type = "password", @class = "form-control", id = "exampleInputPassword", placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.SignIn.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button type="submit" class="btn btn-primary btn-sm" style="font-family: sans-serif">
                                                Sign In
                                            </button>
                                            <a href="javascript:;">Forgot your password?</a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="signup" style="padding: 10px;">
                                @using (Html.BeginForm("SignUp", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(x => x.SignUp.Name, new { type = "text", @class = "form-control", id = "name", placeholder = "Name" })
                                            @Html.ValidationMessageFor(m => m.SignUp.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(x => x.SignUp.Email, new { type = "email", @class = "form-control", id = "email", placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.SignUp.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(x => x.SignUp.Password, new { type = "password", @class = "form-control", id = "password", placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.SignUp.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(x => x.SignUp.ConfirmPassword, new { type = "password", @class = "form-control", id = "confirmpassword", placeholder = "Confirm Password" })
                                            @Html.ValidationMessageFor(m => m.SignUp.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary btn-sm" style="font-family: sans-serif">
                                                Sign Up
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @*<div id="OR" class="hidden-xs">
                                OR
                            </div>*@
                    </div>
                    @*<div class="col-md-4">
                            <div class="row text-center sign-with">
                                <div class="col-md-12">
                                    <h3>
                                        Sign in with
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="btn-group btn-group-justified">
                                        <a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">
                                            Google
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>